
<link rel="stylesheet" href="__CSS__/idea.css">
<style>
  .table-box{
    margin-top: 50px;
  }
</style>
  <ol class="breadcrumb">
    <li><a href="#">众上极品</a></li>
    <li><a href="#">项目提案</a></li>
    <li><a href="#">{$_menu_list[0]}</a></li>
    <li>{$_menu_list[1]}</li>
  </ol>
  <div class="search-box">
    <div class="search-nav">
      <input type="text" class="search">
      <input type="button" class="search-btn" value="搜索">
    </div>
    <div class="table-box">
      <table>
        <tbody>
          <tr>
            <th>原料名称</th>
            <th>功效</th>
            <th>产地</th>
            <th>发布时间</th>
            <th>供应商</th>
            <th>应用产品</th>
          </tr>
          <tr>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>