
<link rel="stylesheet" href="__CSS__/idea.css">
<style>

</style>
  <ol class="breadcrumb">
  <li><a href="#">众上极品</a></li>
  <li><a href="#">项目提案</a></li>
  <li><a href="#">{$_menu_list[0]}</a></li>
  <li>{$_menu_list[1]}</li>
</ol>
  <div class="product-info">
    <div class="img-container fl">
      <img src="__IMG__/default.png" alt="">
    </div>
    <div class="info-container fl">
      <p><b>产品名称:</b><span>屈臣氏骨胶原沁润调色底霜</span></p>
      <p>
        <b>品牌:</b><span>屈臣氏</span>
        <b>品类:</b><span>底霜</span>
        <b>渠道:</b><span>天猫</span>
        <b>销量:</b><span>925</span>
        <b>排名:</b><span>12</span>
        <b>上架时间:</b><span>2018年3月18日</span>
      </p>
      <p><b>卖点:</b><span>屈臣氏骨胶原沁润调色底霜</span></p>
      <p><b>功效:</b><span>屈臣氏骨胶原沁润调色底霜</span></p>
      <p><b>成分:</b><span>屈臣氏骨胶原沁润调色底霜</span></p>
      <p><b>连接:</b><span><a href="">屈臣氏骨胶原沁润调色底霜</a></span></p>
    </div>
    <div style="clear: both;"></div>
  </div>
<div class="sales-charts">

</div>
<div class="export-box"><button>导出分析报告</button></div>