
<link rel="stylesheet" href="__CSS__/idea.css">
<ol class="breadcrumb">
      <li><a href="#">众上极品</a></li>
      <li><a href="#">项目提案</a></li>
      <li><a href="#">{$_menu_name}</a></li>
      <li>用户洞察</li>
</ol>
<div class="filter-box" style="display: block">
  <ul class="term_filter">
    <li class="filter-line">
      <dt><b>年龄</b></dt>
      <dl>
        <dd>
          <select name="" id="">
            <option value ="">全部</option>
            <option value ="">18岁以下</option>
            <option value ="">18~22岁</option>
            <option value="">23~30岁</option>
            <option value="">31~40岁</option>
            <option value="">41岁以上</option>
          </select>
        </dd>
      </dl>
      <dt style="margin-left: 50px"><b>性别</b></dt>
      <dl>
        <dd>
          <input type="radio" name="sex" value="">
          <label>全部</label>
        </dd>
        <dd>
          <input type="radio" name="sex" value="">
          <label>男</label>
        </dd>
        <dd>
          <input type="radio" name="sex" value="">
          <label>女</label>
        </dd>
      </dl>
    </li>
    <li class="filter-line">
      <dt><b>品牌</b></dt>
      <dl>
        <dd>
          <input type="checkbox" name="" value="">
          <label>屈臣氏</label>
        </dd>
        <dd>
          <input type="checkbox" name="" value="">
          <label>小米</label>
        </dd>
        <dd>
          <input type="checkbox" name="" value="">
          <label>欧莱雅</label>
        </dd>
        <dd>
          <input type="checkbox" name="" value="">
          <label>雅诗兰黛</label>
        </dd>
        <dd>
          <input type="checkbox" name="" value="">
          <label>迪奥</label>
        </dd>
      </dl>
    </li>
    <li class="filter-line">
      <dt><b>品类</b></dt>
      <dl>
        <dd>
          <input type="checkbox" name="" value="">
          <label>唇膏</label>
        </dd>
        <dd>
          <input type="checkbox" name="" value="">
          <label>粉底</label>
        </dd>
        <dd>
          <input type="checkbox" name="" value="">
          <label>眼影</label>
        </dd>
        <dd>
          <input type="checkbox" name="" value="">
          <label>睫毛膏</label>
        </dd>
        <dd>
          <input type="checkbox" name="" value="">
          <label>眉笔</label>
        </dd>
      </dl>
    </li>
    <li class="filter-line">
      <dt><b>地域</b></dt>
      <dl>
        <dd>
          <input type="checkbox" name="" value="">
          <label>北京</label>
        </dd>
        <dd>
          <input type="checkbox" name="" value="">
          <label>上海</label>
        </dd>
        <dd>
          <input type="checkbox" name="" value="">
          <label>广州</label>
        </dd>
        <dd>
          <input type="checkbox" name="" value="">
          <label>深圳</label>
        </dd>
        <dd>
          <input type="checkbox" name="" value="">
          <label>杭州</label>
        </dd>
        <dd>
          <input type="checkbox" name="" value="">
          <label>天津</label>
        </dd>
        <dd>
          <input type="checkbox" name="" value="">
          <label>重庆</label>
        </dd>
        <dd>
          <input type="checkbox" name="" value="">
          <label>武汉</label>
        </dd>
        <dd>
          <input type="checkbox" name="" value="">
          <label>成都</label>
        </dd>
      </dl>
    </li>
    <li class="filter-line">
      <dt><b>兴趣</b></dt>
      <dl>
        <dd>
          <input type="checkbox" name="" value="">
          <label>美食</label>
        </dd>
        <dd>
          <input type="checkbox" name="" value="">
          <label>游戏</label>
        </dd>
        <dd>
          <input type="checkbox" name="" value="">
          <label>汽车</label>
        </dd>
        <dd>
          <input type="checkbox" name="" value="">
          <label>育儿</label>
        </dd>
        <dd>
          <input type="checkbox" name="" value="">
          <label>养生</label>
        </dd>
        <dd>
          <input type="checkbox" name="" value="">
          <label>投资</label>
        </dd>
        <dd>
          <input type="checkbox" name="" value="">
          <label>收藏</label>
        </dd>
        <dd>
          <input type="checkbox" name="" value="">
          <label>文学</label>
        </dd>
        <dd>
          <input type="checkbox" name="" value="">
          <label>电影</label>
        </dd>
      </dl>
    </li>
    <li class="filter-line">
      <dt><b>痛点</b></dt>
      <dl>
        <dd>
          <input type="checkbox" name="" value="">
          <label>肤色黑</label>
        </dd>
        <dd>
          <input type="checkbox" name="" value="">
          <label>皱纹</label>
        </dd>
        <dd>
          <input type="checkbox" name="" value="">
          <label>起痘</label>
        </dd>
        <dd>
          <input type="checkbox" name="" value="">
          <label>干燥</label>
        </dd>
        <dd>
          <input type="checkbox" name="" value="">
          <label>出油</label>
        </dd>
        <dd>
          <input type="checkbox" name="" value="">
          <label>眼袋</label>
        </dd>
        <dd>
          <input type="checkbox" name="" value="">
          <label>黑眼圈</label>
        </dd>
        <dd>
          <input type="checkbox" name="" value="">
          <label>脸大</label>
        </dd>
        <dd>
          <input type="checkbox" name="" value="">
          <label>眼小</label>
        </dd>
      </dl>
    </li>
    <li class="filter-line">
      <dt><b>场景</b></dt>
      <dl>
        <dd>
          <input type="checkbox" name="" value="">
          <label>公司</label>
        </dd>
        <dd>
          <input type="checkbox" name="" value="">
          <label>学校</label>
        </dd>
        <dd>
          <input type="checkbox" name="" value="">
          <label>聚会</label>
        </dd>
        <dd>
          <input type="checkbox" name="" value="">
          <label>出游</label>
        </dd>
        <dd>
          <input type="checkbox" name="" value="">
          <label>运动</label>
        </dd>
      </dl>
    </li>
  </ul>
</div>
<div class="export-box"><button>导出分析报告</button></div>