{__NOLAYOUT__}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>后台管理-管理员登录</title>
	<link rel="shortcut icon" type="image/x-icon" href="__IMG__/logo.png" />
	<link rel="stylesheet" href="__CSS__/login.css" />
	<script type="text/javascript">
	   <!--
	   if(top != self){
	       top.location = self.location;
	   }
	   //-->
	</script>
</head>

<body>
	<div class="login_top">
		<div class="welcome">欢迎使用后台管理系统</div>
		<!--<div class="back"><a href="http://{$Think.server.http_host}">返回前台首页</a></div>-->
	</div>
	
	<div class="login_center">
		<div class="logo">
		  <img src="__IMG__/logo.png" title="后台管理系统"><span class="logo-word">众妙云</span>
		</div><br /><br />
		<div class="login_form">
			<div class="title"><strong>众妙云后台管理系统</strong></div>
			<form name="login_form" action="{:U('login')}" method="post" id="login">
			<div class="form_body">
			    <strong style="color:red;" class="check-tips"></strong>
				<div class="field">
					<b>用户名</b>
					<input class="user" type="text focus" name="username" placeholder="输入用户名/邮箱/手机号" />
				</div><br />

				<div class="field">
					<b>密&nbsp;&nbsp;&nbsp;码</b>
					<input class="pwd" type="password" name="password" placeholder="输入密码" />
				</div><br />

				<div class="field">
					<b>验证码</b>
					<input class="verify" type="text" name="verify" placeholder="输入验证码" />
					<img src="{:U('verify')}" class="passcode" title="点击刷新" />
				</div>
			</div>
			<div class="form_btn">
				<input type="submit" value="立即登录后台" class="btn">
			</div>
			</form>
		</div>
	</div>

	<!--<div class="footer">
		<span>保护条款 版权所有(C) 海量信息技术股份有限公司 京ICP备11019009号-2 京公网安备11010802016383</span>
	</div>-->
</body>
</html>
<script type="text/javascript" src="__STATIC__/js/jquery-2.0.3.min.js"></script>
<script>
	$(function(){
		$("#login").find("input[name=username]").focus();

		$(".passcode").click(function(){
			var verifyimg = $(this).attr("src");
			if( verifyimg.indexOf('?')>0){
				$(this).attr("src", verifyimg+'&random='+Math.random());
			}else{
				$(this).attr("src", verifyimg.replace(/\?.*$/,'')+'?'+Math.random());
			}
		});

		$("form").submit(function(){
			var self = $(this);
			$.post(self.attr("action"), self.serialize(), success, "json");
			return false;

			function success(data){
				if(data.status){
					window.location.href = data.url;
				} else {
					self.find(".check-tips").text(data.info);
					//刷新验证码
					$(".passcode").click();
				}
			}
		});
	});

</script>