/* home styles
-------------------------------------------------- */
.copyright {
    background: #f5f5f5;
    text-align: center;
    color: #555;
    padding: 28px 0;
    border-top: 1px solid #f5f5f5;
}

#back-to-top {
    position: fixed;
    right: 10px;
    bottom: 10px;
    background: #a9334c;
    color: #ffffff;
    text-align: center;
    border-radius: 2px;
    z-index: 1;
    padding: 5px;
    cursor: pointer;
    display: none;
}