<header>
  <div class="header">
    <div class="logoBox fl"><a href="/" title="返回首页"><img src="__IMG__/u45.png" /></a></div>
    <div class="logoDesc fl">
      <span class="logoText">号美</span>
      <span class="desc">基于粉丝深度画像的达人价值提升平台</span>
    </div>
    <div class="menu_mobile f">
      <img src="/Public/static/img/btn.png">
    </div>
    <ul class="menuBox fr">
      <li <if condition="$modelID eq 1"> class="active" </if> url="/" modelID={$modelID}>首页</li>
      <li <if condition="$modelID eq 2"> class="active" </if> url="{:U('Kol/applyKol')}" modelID={$modelID}>画像申请</li>
      <li <if condition="$modelID eq 3"> class="active" </if> url="{:U('Main/index')}" modelID={$modelID}>我的主页</li>
      <php>if(is_login()):</php>
      <li url="{:U('User/logout')}">退出</li>
      <php>else:</php>
      <li url="{:U('User/login')}" style="color: #F39570">登录</li>
      <php>endif</php>
    </ul>
    <div class="cl"></div>
  </div>
</header>
<script>
  $(function(){
    $('.menuBox').on('click','li',function(){
      var that = $(this);
      if(!that.hasClass('active')) {
        that.siblings().removeClass('active');
        that.addClass('active');
      }
      var url = that.attr('url');
      if(!url) return;
      location.href = url;
    });

      //手机端点击btn出现标题
      $('.menu_mobile').on("click",function(){
          $('.menuBox').toggle();
      });
  });
</script>