<extend name="Public/common"/>
<block name="style">
</block>
<block name="body">
  <div class="jumbotron">
    <div class="container">
      <div class="row" style="margin-top: 100px">
        <div class="col-xs-6 col-md-3">
          <div class="thumbnail">
            <img data-src="holder.js/100%x200" alt="100%x200" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">
            <div class="caption" style="text-align: center;">
              <h3>研究分享</h3>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-md-3">
          <div class="thumbnail">
            <img data-src="holder.js/100%x200" alt="100%x200" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">
            <div class="caption" style="text-align: center;">
              <h3>项目提案</h3>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-md-3">
          <div class="thumbnail">
            <img data-src="holder.js/100%x200" alt="100%x200" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">
            <div class="caption" style="text-align: center;">
              <h3>产品设计</h3>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-md-3">
          <div class="thumbnail">
            <img data-src="holder.js/100%x200" alt="100%x200" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">
            <div class="caption" style="text-align: center;">
              <h3>采购</h3>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-md-3">
          <div class="thumbnail">
            <img data-src="holder.js/100%x200" alt="100%x200" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">
            <div class="caption" style="text-align: center;">
              <h3>项目监管</h3>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-md-3">
          <div class="thumbnail">
            <img data-src="holder.js/100%x200" alt="100%x200" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">
            <div class="caption" style="text-align: center;">
              <h3>售后监测</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</block>
<block name="script"></block>