<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <span>Copyright &copy; <a href="https://www.gz-zhongshang.com/">广州众上投资控股集团有限公司</a></span> |
                <span><a href="http://www.miibeian.gov.cn/" target="_blank">粤ICP备11008151号</a></span> |
                <span>粤公网安备11010802014853</span>
            </div>
        </div>
    </div>
</div>
<a href="#" id="back-to-top"><i class="fa glyphicon glyphicon-chevron-up"></i></a>
<script src="__JS__/home.js"></script>
<script>
    var _visit_uid = '{$visit_uid}';
    var _self = '{:U("Visitor/index")}';
</script>
<!--<script src="__STATIC__/js/visitLog.js"></script>-->